*{
margin:0;
padding: 0;
box-sizing: border-box;
}
.app_container{
    position: relative;
    overflow: hidden;
    // background-color: #000;
    background-image: url(image.jpg);
    min-height: 100vh;
    width: 100%;
    margin: auto;
    font-size: 18px;
    z-index: 0;
.background_top{
    position: absolute;
    right: 50%;
    bottom: 50%;
}
}